<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/registertemplate.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Register</title>
    </head>

    <body>
        <nav>
            <ul class="sidebar">
                <li onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#000000FF"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
                <li><a href="/contacts">Contacts</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
            <ul>
                <li><a>syncolah.</a></li>
                <li class="hideOnMobile"><a href="/contacts">Contacts</a></li>
                <li class="hideOnMobile"><a href="/register">Register</a></li>
                <li class="hideOnMobile"><a href="/login">Login</a></li>
                <li class="menu-button" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#000000FF"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
            </ul>
        </nav>

        <div class="container">
            <div class="container-register">
                <a>Register</a>
                <form id="REG" class="register-form" method="POST" th:object="${registerDTO}">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                    <label for="firstName">
                        First Name <br><input id="firstName" type="text" th:field="${registerDTO.firstName}">
                    </label><br>
                    <p th:if="${#fields.hasErrors('firstName')}" th:errorclass="text-danger" th:errors="${registerDTO.firstName}"></p>


                    <label for="lastName">
                        Last Name <br><input id="lastName" type="text" th:field="${registerDTO.lastName}">
                    </label><br>
                    <p th:if="${#fields.hasErrors('lastName')}" th:errorclass="text-danger" th:errors="${registerDTO.lastName}"></p>


                    <label for="email">
                        Email <br> <input id="email" type="text" th:field="${registerDTO.email}">
                    </label><br>
                    <p th:if="${#fields.hasErrors('email')}" th:errorclass="text-danger" th:errors="${registerDTO.email}"></p>

                    <label for="phone">
                        Phone <br> <input id="phone" type="text" th:field="${registerDTO.phone}">
                    </label><br>
                    <p th:if="${#fields.hasErrors('phone')}" th:errorclass="text-danger" th:errors="${registerDTO.phone}"></p>


                    <label for="password">
                        Password <br> <input id="password" type="password" th:field="${registerDTO.password}">
                    </label><br>
                    <p th:if="${#fields.hasErrors('password')}" th:errorclass="text-danger" th:errors="${registerDTO.password}"></p>


                    <label for="confirmpass">
                        Confirm Password <br> <input id="confirmpass" type="password" th:field="${registerDTO.confirmPassword}">
                    </label><br>
                    <p th:if="${#fields.hasErrors('confirmPassword')}" th:errorclass="text-danger" th:errors="${registerDTO.confirmPassword}"></p>

                </form>
                <input type="submit" form="REG" value="Register"/>
            </div>
        </div>

        <script>
            function showSidebar() {
                const sidebar = document.querySelector('.sidebar');
                sidebar.style.display = "flex";
            }

            function hideSidebar() {
                const sidebar = document.querySelector('.sidebar');
                sidebar.style.display = "none";
            }
        </script>
    </body>
</html>